<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/html/patientdash/assets/css/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/html/patientdash/assets/css/styles.css?1091">
</head>

<body>
    <section class="class_2">
        <div class="class_3">
            <h1 class="class_4" spellcheck="false">
                Patient Dashboard
                <br>
            </h1>
            <div class="class_5" spellcheck="false">
                Patient dashboard to save all your data!
            </div>
            <img src="http://localhost:8080/html/patientdash/assets/images/site-stats-concept-illustration_114360-1434.webp"
                class="class_6">
        </div>
    </section>
    <section class="class_7">
        <div class="class_8">
            <div class="class_9">
                <img src="http://localhost:8080/html/patientdash/assets/images/surprised-happy-girl-pointing-left-recommend-product-advertisement-make-okay-gesture_176420-20191.jpg"
                    class="class_10">
                <h1 class="class_11">
                    Patient QR code
                    <button onclick="openPopup()">Click me!</button>
                </h1>
            </div>
            <div class="class_9">
                <img src="http://localhost:8080/html/patientdash/assets/images/beautiful-happy-african-american-woman-has-surprised-joyful-expression-cannot-believe-sudden-success-dressed-casual-white-jumper_273609-43273.jpg"
                    class="class_10">
                <h1 class="class_11">
                    Patient details
                    <button onclick="openPop()">Click me!</button>
                </h1>
            </div>
            <div class="class_9">
                <img src="http://localhost:8080/html/patientdash/assets/images/close-up-shot-ordinary-fair-haired-caucasian-male-with-bristle-earrings-staring-carefree-being-indifferent-calm_176420-25002.jpg"
                    class="class_10">
                <h1 class="class_11">
                    Current Wait Time
                    <button onclick="openWait()">Click Me to Refresh!</button>
                    <p>Wait Time: <span id="waittime"></span></p>
                </h1>
            </div>

            <div class="class_9">
                <img src="http://localhost:8080/html/patientdash/assets/images/close-up-shot-ordinary-fair-haired-caucasian-male-with-bristle-earrings-staring-carefree-being-indifferent-calm_176420-25002.jpg"
                    class="class_10">
                <h1 class="class_11">
                    Doctor assigned
                    <button onclick="openDoctor()">Click me to choose your doctor!</button>
                </h1>
            </div>
        </div>

        <img id="qrCode" style="display: none;">
    </section>
</body>

</html>
<script>
    function openPopup() {
        localStorage.setItem("token", "eyJhbGciOiJIUzUxMiJ9.eyJVSUQiOiIxIn0.lSIvcJrJYPXUjGffrIlGTTomfG0mD8mVFSfSg0eda4l-j_8gmAy3dnZCEx50WyuVWgW9sb_Mk6w4BFHxMPlpxQ")
        fetch("http://localhost:8080/api/user/getQrPath", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${localStorage.getItem("token")}`
            },
        }).then(res => {
            return res.json()
        }).then(resp => {
            console.log(resp)
            // Set the src attribute of the qrCode image
            document.querySelector("#qrCode").src = `http://localhost:8080/${resp.path}`;
            // Get the src attribute after it's set
            var qrCodeImage = document.getElementById("qrCode");
            var qrCodeLink = qrCodeImage.src;
            // Open the popup window
            var popupWindow = window.open("", "QRCodeWindow", "width=400, height=400");
            popupWindow.document.write('<img src = "' + qrCodeLink + '">');
        }).catch(err => {
            console.log(err)
        })
    }

    function openPop() {
        fetch("http://localhost:8080/api/user/getPatientDetails", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${localStorage.getItem("token")}`
            },
        }).then(res => {
            return res.json()
        }).then(resp => {
            console.log(resp)
            createPop(resp);
        }).catch(error => {
            console.error("Error fetching patient details", error);
        });
    }

    function createPop(patientDetails) {
        const popup = window.open("", "PatientDetails", "width=600, height=400");

        const formHTML = `
            <h2>Pateint Details</h2>
            <p>ID: ${patientDetails.patient_id}</p>
            <p>DOB: ${patientDetails.date_of_birth}</p>
            <p>Gender: ${patientDetails.gender}</p>
            <p>Medical Conditions: ${patientDetails.medical_conditions}</p>
            <p>Medications: ${patientDetails.medications}</p>
            <p>Allergies: ${patientDetails.allergies}</p>
            <p>Last Appointment Date: ${patientDetails.last_appointment_date}</p>
            <p>First Name: ${patientDetails.first_name}</p>
            <p>Last Name: ${patientDetails.last_name}</p>
            <p>Phone Number: ${patientDetails.phone_number}</p>
            <p>Email ID: ${patientDetails.email}</p>
            <p>Address: ${patientDetails.address}</p>
            <p>Emergency Name: ${patientDetails.emer_Name}</p>
            <p>Emergency Relation: ${patientDetails.emer_Rel}</p>
            <p>Emergency Number: ${patientDetails.emer_Phn}</p>            
            `;
        popup.document.body.innerHTML = formHTML;
    }

    function openDoctor() {
        let symptom = []
        const popupWin = window.open('', "DoctorAssign", "width=600, height=400");

        fetch("http://localhost:8080/api/hospital/getSpeciality", {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(res => res.json())
            .then(data => {
                const specialitySelect = popupWin.document.getElementById('speciality');
                data.forEach(speciality => {
                    const option = popupWin.document.createElement('option');
                    option.text = speciality;
                    specialitySelect.add(option);
                });
            })
            .catch(error => console.error("Error fetching specialities:", error));

        //for symptoms    
        fetch("http://localhost:8080/api/hospital/getSymptoms", {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(res => res.json())
            .then(data => {
                const specialitySelect = popupWin.document.getElementById('symptoms');
                data.forEach(speciality => {
                    const option = popupWin.document.createElement('option');
                    option.text = speciality;
                    specialitySelect.add(option);
                });
            })
            .catch(error => console.error("Error fetching symptoms:", error));

        const popupContent = `
				<html>
                    <head>
                        <title>Select Doctor</title>
                    </head>
                    <body>
                        <h2>Doctor Allocation</h2>
                        <form id="doctorForm">
                            <div>
                                <label for="doctorName">Select Doctor by Name:</label><br>
                                <select id="doctorName" name="doctorName">
                                    <!--Options will be added-->
                                </select>
                                <br><br>
                                <label for="speciality">Select Speciality:</label><br>
                                <select id="speciality" name="speciality">
                                    <!--Options will be added-->
                                </select>
                                <br><br>
                                <label for="symptoms">Select Symptoms:</label><br>
                                <select id="symptoms" name="symptoms">
                                    <!--Options will be added-->
                                </select>
                                <br>
                                <button id="addSymptoms">Add Symptoms</button>
                                <br>
                                <button id="submitSymptoms">Submit Symptoms</button>
                            </div>
                            <br>
                            <button type="submit">Submit</button>
                        </form>
                    </body>
                </html>
			`;

        popupWin.document.write(popupContent);

        popupWin.document.getElementById('speciality').addEventListener('change', function () {
            const selectedSpeciality = this.value;
            fetch(`http://localhost:8080/api/hospital/getDocs?speciality=${selectedSpeciality}`, {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(res => res.json())
                .then(data => {
                    const doctorSelect = popupWin.document.getElementById('doctorName');
                    doctorSelect.innerHTML = '';
                    data.forEach(doctor => {
                        const option = popupWin.document.createElement('option');
                        option.text = doctor.docName;
                        option.value = doctor.docID;
                        doctorSelect.add(option);
                    });
                })
                .catch(error => console.error('Error fetching doctor:', error));
        });
        
        popupWin.document.getElementById('addSymptoms').addEventListener('click', function () {
            const specialitySelect = popupWin.document.getElementById('symptoms').value;
            symptom.push(specialitySelect)
            console.log(symptom)
        });

        popupWin.document.getElementById('submitSymptoms').addEventListener('click', function () {
            fetch("http://localhost:8080/api/hospital/assignDocBySymp", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": `Bearer ${localStorage.getItem('token')}`
                },
                body: JSON.stringify({"list":symptom})
            })
                .then(res => res.json())
                .then(resp => window.alert(resp.msg))
        });

        popupWin.document.getElementById('doctorForm').addEventListener('submit', function (event) {
            event.preventDefault();
            //handle karna hai event ko
        });
    }


</script>
</body>

</html>